[Unit]
Description=__SERVICE_DESCRIPTION__
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__WORKING_DIRECTORY__
EnvironmentFile=__ENV_FILE__
ExecStart=__EXEC_START__
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
